{% liquid
if section.settings.menu.links == blank
assign main_menu_linklist = linklists[section.settings.menu].links
else
assign main_menu_linklist = section.settings.menu.links
endif
%}

<div class="relative bg-slate-900 text-white" x-data="{ mobileMenuOpen : false, searchBarOpen : false }" x-cloak>
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-around items-center py-6 md:space-x-10">
            <!-- Store Name / Store Logo -->
            <div class="header__logo mx-auto my-2 md:my-0 md:mr-auto md:ml-0" style="max-width: {{ section.settings.logo_width }}px;">
        {% if section.settings.logo != blank %}
          <a href="/" class="header__logo">
            {{ section.settings.logo | image_url: width: 400 | image_tag: loading: 'lazy' }}
          </a>
        {% else %}
          <a href="/" class="header__logo-title">
            {{ shop.name }}
          </a>
        {% endif %}
      </div>

            <div class="-mr-2 -my-2 ml-3 lg:hidden">
                <button x-on:click="mobileMenuOpen = true" @click="$dispatch('toggle-menu')" type="button"
                    class="bg-slate-900 p-2 inline-flex items-center justify-center focus:outline-none">
                    {% render 'icon-menu' %}
                </button>
            </div>



            <!-- Navigation menu -->
            <nav class="hidden lg:flex space-x-10">
                {% for link in main_menu_linklist %}
                {% if link.links != blank %}
                {% assign link_handle = link.handle | replace: '-', '_' %}
                <div class="relative" x-data="{ {{ link_handle }}: false }">
                    <button type="button" x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                        class="inline-flex items-center link link-underline link-underline-black">
                   {{ link.title }}
                        {% render 'icon-dropdown' %}
                    </button>

                    <div x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="opacity-0 translate-y-3"
                        x-transition:enter-end="opacity-100 translate-y-0"
                        x-transition:leave="transition ease-out duration-300"
                        x-transition:leave-start="opacity-100 translate-y-0"
                        x-transition:leave-end="opacity-0 translate-y-3" x-show="{{ link_handle }}"
                        @click.away="{{ link_handle }} = false"
                        class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                        <div class="shadow-lg overflow-hidden rounded-sm">
                            <div class="relative grid gap-6 bg-slate-900 px-5 py-6 sm:gap-8 sm:p-8">
                                {% for childlink in link.links %}
                                <a href="{{ childlink.url }}"
                                    class="p-3 flex items start hover:bg-gray-700 link link-underline link-underline-black">
                                    <div class="ml-3">
                                        <p class="text-base font-medium">
                                            {{ childlink.title }}
                                        </p>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="{{ link.url }}" class="text-base text-white link link-underline link-underline-black">{{ link.title }}</a>
                {% endif %}
                {% endfor %}
            </nav>
            <!-- Cart Button / Account Links if enabled
            <div class="hidden md:flex item-center justify-end md:flex-1 space-x-5">
                <button x-on:click="searchBarOpen = true" type="button"
                    class="whitespace-nowrap text-base text-slate-200 hover:text-white">
                    {% render 'icon-search' %}
                </button>
                <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-slate-200 hover:text-white">{%
                    render 'icon-shopping-bag' %}</a>

                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="{{ routes.account_url }}" class="text-base text-slate-200 hover:text-white">Account</a>
                {{ 'Logout' | customer_logout_link | replace: '
                <a', '<a class="text-base text-slate-200 hover:text-white"' }} {% else %} {{ 'Login' |
                    customer_login_link | replace: '<a' , '<a class="text-base text-slate-200 hover:text-white"' }}
                    {{ 'Register' | customer_register_link | replace: '<a'
                    , '<a class="text-base text-slate-200 hover:text-white"' }} {% endif %} {% endif %} </div>

                    -->

                    <div class="header__icons flex items-center justify-end space-x-5"
                        x-data="{ cart_count: {{ cart.item_count }} }"
                        @cart-count-updated.window="cart_count = $event.detail">
                        {%- if shop.customer_accounts_enabled -%}
                            <div class="relative account-menu-wrapper z-10">
                                <a href="{{ routes.account_url }}" 
                                title="account link"
                                class="header__icon block text-center">
                                {% render 'icon-account', class: 'w-10 mx-auto' %}
                                    <span class="sr-only">
                                        {%- liquid
                                        if customer
                                        echo 'customer.account_fallback' | t
                                    else
                                        echo 'customer.account_fallback' | t
                                        endif
                                        -%}
                                    </span>
                                </a>
                            </div>
                        {%- endif -%}

                        <button 
                        type="button"
                        title="Cart button"
                        @click="$dispatch('toggle-cart')"
                        class="header__icon text-center relative">
                            {% render 'icon-shopping-bag', class: 'w-10' %}
                                <span class="sr-only">{{ 'templates.cart.cart' | t }}</span>
                                <span x-text="cart_count" class="cart__count min-w-[22px] text-sm min-h-[22px] absolute grid place-content-center rounded-full -top-3 -right-1 text-white bg-black"> {{ cart.item_count }} </span>
                        </button>
                    </div>

                    {% render 'mobile-menu' %}

            </div>
        </div>

        <div x-show="searchBarOpen" class="w-full absolute top-0 bg-slate-900 border">
            <button type="button" x-on:click="searchBarOpen = false"
                class="absolute top-0 right-0 mr-5 mt-5 text-slate-200">
                {% render 'icon-close' %}
            </button>
            <div class="h-40 flex justify-center items-center">
                <form action="{{ routes.search_url }}" method="get" class="flex-auto">
                    <div class="relative text-slate-200 px-10">
                        <input type="search" name="q" placeholder="Search"
                            class="w-full bg-slate-900 h-10 px-5 pr-10 rounded-full text-sm focus:outline-none border">
                        <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
                            {% render 'icon-search' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width %}
      "logo": {{ section.settings.logo | image_url: width: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

    {% schema %}
    {
    "name": "Header",
    "class": "section-header",
    "settings": [
    {
    "type": "text",
    "id": "mobile_menu_title",
    "default": "Menu",
    "label": "Mobile Menu Title"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
    ]
    }
    {% endschema %}