{% liquid
if section.settings.menu.links == blank
assign main_menu_linklist = linklists[section.settings.menu].links
else
assign main_menu_linklist = section.settings.menu.links
endif
%}

<div class="relative bg-slate-900 text-white" x-data="{ mobileMenuOpen : false, searchBarOpen : false }" x-cloak>
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-around items-center py-6 md:space-x-10">
            <!-- Store Name / Store Logo -->
            <div class="flex justify-start lg:flex-1 truncate">
                <h1 class="text-xl font-bold truncate">
                    {{ shop.name }}
                </h1>
            </div>

            <div class="-mr-2 -my-2 ml-3 lg:hidden">
                <button x-on:click="mobileMenuOpen = true" type="button"
                    class="bg-slate-900 p-2 inline-flex items-center justify-center focus:outline-none">
                    {% render 'icon-menu' %}
                </button>
            </div>



            <!-- Navigation menu -->
            <nav class="hidden lg:flex space-x-10">
                {% for link in main_menu_linklist %}
                {% if link.links != blank %}
                {% assign link_handle = link.handle | replace: '-', '_' %}
                <div class="relative" x-data="{ {{ link_handle }}: false }">
                    <button type="button" x-on:click="{{ link_handle }} = ! {{ link_handle }}"
                        class="inline-flex items-center link link-underline link-underline-black">
                   {{ link.title }}
                        {% render 'icon-dropdown' %}
                    </button>

                    <div x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="opacity-0 translate-y-3"
                        x-transition:enter-end="opacity-100 translate-y-0"
                        x-transition:leave="transition ease-out duration-300"
                        x-transition:leave-start="opacity-100 translate-y-0"
                        x-transition:leave-end="opacity-0 translate-y-3" x-show="{{ link_handle }}"
                        @click.away="{{ link_handle }} = false"
                        class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                        <div class="shadow-lg overflow-hidden rounded-sm">
                            <div class="relative grid gap-6 bg-slate-900 px-5 py-6 sm:gap-8 sm:p-8">
                                {% for childlink in link.links %}
                                <a href="{{ childlink.url }}"
                                    class="p-3 flex items start hover:bg-gray-700 link link-underline link-underline-black">
                                    <div class="ml-3">
                                        <p class="text-base font-medium">
                                            {{ childlink.title }}
                                        </p>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="{{ link.url }}" class="text-base text-white link link-underline link-underline-black">{{ link.title }}</a>
                {% endif %}
                {% endfor %}
            </nav>
            <!-- Cart Button / Account Links if enabled -->
            <div class="hidden md:flex item-center justify-end md:flex-1 space-x-5">
                <button x-on:click="searchBarOpen = true" type="button"
                    class="whitespace-nowrap text-base text-slate-200 hover:text-white">
                    {% render 'icon-search' %}
                </button>
                <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-slate-200 hover:text-white">{%
                    render 'icon-shopping-bag' %}</a>

                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="{{ routes.account_url }}" class="text-base text-slate-200 hover:text-white">Account</a>
                {{ 'Logout' | customer_logout_link | replace: '
                <a', '<a class="text-base text-slate-200 hover:text-white"' }} {% else %} {{ 'Login' |
                    customer_login_link | replace: '<a' , '<a class="text-base text-slate-200 hover:text-white"' }}
                    {{ 'Register' | customer_register_link | replace: '<a'
                    , '<a class="text-base text-slate-200 hover:text-white"' }} {% endif %} {% endif %} </div>

                    <!-- MOBILE MENU CONTAINER -->
                    <div x-show="mobileMenuOpen"
                        class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left lg:hidden">
                        <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-slate-900 w-full">
                            <div class="p-5 divide-y-2 divide-gray-700">

                                <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->

                                <div class="flex items-center justify-between pb-3">
                                    <div>
                                        <h1 class="text-lg text-slate-200">{{ section.settings.mobile_menu_title }}</h1>
                                    </div>
                                    <div class="-mr-2">
                                        <button x-on:click="mobileMenuOpen = false" type="button"
                                            class="bg-slate-900 rounded-md p-2 text-slate-200">
                                            {% render 'icon-close' %}
                                        </button>
                                    </div>
                                </div>

                                <!-- NAVIGATION LINKS FOR MOBILE MENU -->
                                <div class="pt-3">
                                    <nav class="grid gap-y-7">
                                        {% for link in main_menu_linklist %}
                                        {% if link.links != blank %}
                                        {% assign mobile_link_handle = link.handle | replace: '-', '_' %}
                                        <div class="relative" x-data="{ {{ mobile_link_handle }}: false }">
                                            <button x-on:click="{{ mobile_link_handle }} = ! {{ mobile_link_handle }}"
                                                type="button"
                                                class="text-base text-slate-200 hover:text-white flex items-center justify-between w-full link link-underline link-underline-black">
                                                <div>{{ link.title }}</div>
                                                {% render 'icon-dropdown' %}
                                            </button>

                                            <div x-show="{{ mobile_link_handle }}" class="grid gap-y-7 py-3">
                                                {% for childlink in link.links %}
                                                <a href="{{ childlink.url }}"
                                                    class="-m-3 p-3 mt-2 flex items-center rounded-md text-slate-200 hover:text-white hover:bg-gray-800 link link-underline link-underline-black">
                                                    <span class="ml-3 text-base font-medium text-slate-200">{{
                                                        childlink.title }}</span>
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <a href="{{ link.url }}"
                                            class="-m-3 p-3 flex items-center rounded-md text-slate-200 hover:text-white hover:bg-gray-800 link link-underline link-underline-black">
                                            {{ link.title }}
                                        </a>

                                        {% endif %}

                                        {% endfor %}
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>

        <div x-show="searchBarOpen" class="w-full absolute top-0 bg-slate-900 border">
            <button type="button" x-on:click="searchBarOpen = false"
                class="absolute top-0 right-0 mr-5 mt-5 text-slate-200">
                {% render 'icon-close' %}
            </button>
            <div class="h-40 flex justify-center items-center">
                <form action="{{ routes.search_url }}" method="get" class="flex-auto">
                    <div class="relative text-slate-200 px-10">
                        <input type="search" name="q" placeholder="Search"
                            class="w-full bg-slate-900 h-10 px-5 pr-10 rounded-full text-sm focus:outline-none border">
                        <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
                            {% render 'icon-search' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% schema %}
    {
    "name": "Header",
    "settings": [
    {
    "type": "text",
    "id": "mobile_menu_title",
    "default": "Menu",
    "label": "Mobile Menu Title"
    },
    {
    "type": "link_list",
    "id": "menu",
    "default": "main-menu",
    "label": "Heading Navigation Menu"
    }
    ]
    }
    {% endschema %}