<section class="relative h-[90vh] flex flex-col items-center justify-center text-center text-white py-0 px-3">
  <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
    <noscript>
      <div class="video-section__media"
        {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
      >
        <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape">
          {%- if section.settings.cover_image != blank -%}
            {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
            {{ section.settings.cover_image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
              alt: alt
            }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <iframe class="min-w-full min-h-full absolute object-cover" src="{{ section.settings.video_url.id }}" autoplay=1 muted=1 loop=1 controls=0 preload="auto"></iframe>
  </div>
  <div class="video-content space-y-2 mx-auto">
    {% if section.settings.logo != blank %}
      <a href="/" class="header__logo">
        {{ section.settings.logo | image_url: width: 400 | image_tag: loading: 'lazy' }}
      </a>
    {% else %}
      <a href="/" class="header__logo-title">
        {{ shop.name }}
      </a>
    {% endif %}
    <h3 class="font-light text-3xl">Velkommen til<br>Bamboo Performance!</h3>
    <a href="#productFrontpage" class="bg-green-600 text-white py-2 px-4 mt-2 rounded-md hidden {% if section.settings.button == false %} hidden {% else %} lg:block {% endif %}">Køb nu!</a>
  </div>

  <div class="arrow_container {% if section.settings.scroll_down == false %} hidden {% endif %}">
    <a href="#productFrontpage">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <span class="text">Scroll ned</span>
    </a>
</div>

  <div style="overflow: hidden;" class="element-page-divider {% if section.settings.page_divider == false %} hidden {% endif %}">
  <svg preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #ffffff;width: 100%;height: 70px;transform: scaleX(-1);">
    <path d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z" opacity=".50"></path>
    <path d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z" opacity=".75"></path>
    <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"></path>
  </svg>
</div>
</section>


<style>
  .video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .video-content {
    z-index: 2;
    position: relative;
    bottom: 10vh;
  }

  .arrow_container {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0px auto;
  z-index: 10;
  bottom: 20vh;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
 
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
 
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
 
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse { 
to {
    opacity: 1;
  }
}
@keyframes move {
  25% {
    opacity: 1;
 
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

  .element-page-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    transform: rotateZ(180deg);
  }
</style>


{% schema %}
{
  "name": "t:sections.hero-video.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.hero-video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.hero-video.settings.video_url.label",
      "placeholder": "t:sections.hero-video.settings.video_url.placeholder",
      "info": "t:sections.hero-video.settings.video_url.info"
    },
    {
      "type": "checkbox",
      "id": "button",
      "label": "t:sections.hero-video.settings.button.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "scroll_down",
      "label": "t:sections.hero-video.settings.scroll-down.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "page_divider",
      "label": "t:sections.hero-video.settings.page-divider.label",
      "default": false
    },
     {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.hero-video.settings.logo.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 150,
        "unit": "t:sections.hero-video.settings.logo_width.unit",
        "label": "t:sections.hero-video.settings.logo_width.label"
      }
  ],
  "presets": [
    {
      "name": "t:sections.hero-video.presets.name"
    }
  ]
}
{% endschema %}
