<section class="relative h-[90vh] flex flex-col items-center justify-center text-center text-white py-0 px-3">
  <div class="video-docker overflow-hidden">
    <div class='youtube-container absolute top-0 left-0 min-w-full min-h-full object-cover'>
        {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: 'min-w-full min-h-full h-[100%] object-cover absolute top-0 left-0' }}
    

        {%- comment -%} <iframe class="min-w-full min-h-full absolute object-cover hidden lg:block" src='https://www.youtube.com/embed/{{ section.settings.video_url | split: '=' | last }}?controls=0&showinfo=0&playsinline=1&autoplay=1&mute=1&loop=1&showinfo=0&modestbranding=0&playlist={{ section.settings.video_url | split: '=' | last }}'></iframe> {%- endcomment -%}
    </div>  
</div> 
  <div class="video-content space-y-6 mx-auto">
    {% if section.settings.logo != blank %}
      <div class="header__logo h-[100px]">
        {{ section.settings.logo | image_url: width: section.settings.logo_width | image_tag: alt: section.settings.logo_alt, class: 'h-full' }}
      </div>
    {% else %}
      <a href="/" class="header__logo-title">
        {{ shop.name }}
      </a>
    {% endif %}
    <h3 class="font-light text-3xl">Velkommen til<br>Bamboo Performance!</h3>
    <a href="#productFrontpage" class="bg-green-600 text-white py-2 px-4 mt-6 rounded-md hidden {% if section.settings.button == false %} hidden {% else %} lg:block {% endif %}">Køb nu!</a>
  </div>

  <div class="arrow_container {% if section.settings.scroll_down == false %} hidden {% endif %}">
    <a href="#productFrontpage">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <span class="text">Scroll ned</span>
    </a>
</div>

  <div style="overflow: hidden;" class="element-page-divider {% if section.settings.page_divider == false %} hidden {% endif %}">
  <div class="divider-shape" data-animation="scale" data-animation-value="2" data-animation-play-on="mouseenter" data-animation-pause-on="mouseleave" data-animation-duration="2000" data-animation-easing="easeOutQuad">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none" height="70" width="120%">
          <defs>
            <style>
              .divider-shape--fill {
                fill: #fff;
              }
            </style>
            <linearGradient id="linear-gradient" x1="565.65" y1="332.98" x2="29.35" y2="-41.98" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="var(--shape-color-1)"></stop>
              <stop offset="1" stop-color="var(--shape-color-2)"></stop>
            </linearGradient>
          </defs>
          <path class="divider-shape--fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
          <path class="divider-shape--fill" style="opacity:0.5;" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
          <path class="divider-shape--fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
        </svg>
      </div>
</div>
</section>


<style>
  .video-docker video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-docker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .video-content {
    z-index: 2;
    position: relative;
    bottom: 10vh;
  }

  .arrow_container {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0px auto;
  z-index: 10;
  bottom: 25vh;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
 
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
 
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
 
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse { 
to {
    opacity: 1;
  }
}
@keyframes move {
  25% {
    opacity: 1;
 
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

  .element-page-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    transform: rotateZ(180deg);
  }
</style>


{% schema %}
{
  "name": "t:sections.hero-video.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.hero-video.settings.video_url.label"
    },
    {
      "type": "checkbox",
      "id": "button",
      "label": "t:sections.hero-video.settings.button.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "scroll_down",
      "label": "t:sections.hero-video.settings.scroll-down.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "page_divider",
      "label": "t:sections.hero-video.settings.page-divider.label",
      "default": false
    },
     {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.hero-video.settings.logo.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 200,
        "max": 600,
        "step": 10,
        "default": 400,
        "unit": "t:sections.hero-video.settings.logo_width.unit",
        "label": "t:sections.hero-video.settings.logo_width.label"
      }
  ],
  "presets": [
    {
      "name": "t:sections.hero-video.presets.name"
    }
  ]
}
{% endschema %}
